
dy {
  width:100%;
  background-image:url("https://media2.fdncms.com/stranger/imager/u/large/25030781/pratt_banh-mi_04-web.jpg");
}

span {
  padding: 60px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

li {
    float: left;
    padding: 20px;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

.container-2{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}


.logo {
  content:url(yelp.png);
  display: block;
  margin: 0 auto;
}

.review {
  display: block;
  margin: auto;
  vertical-align: justify;
}
/*
.events {
  display: block;
  margin: auto;
  vertical-align: justify;
}

span {

}

.talk {

}

.login {

}

.signup {

}*/

.logo {

}

